static/schema/osm/0.5/osm-0.5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="osm" type="T_osm" />
  <xs:complexType name="T_osm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bound" type="T_bound" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="node" type="T_node" />
        <xs:element name="way" type="T_way" />
        <xs:element name="relation" type="T_relation" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute fixed="0.5" name="version" type="xs:decimal" use="required" />
    <xs:attribute name="generator" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="T_node">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tag" type="T_tag" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:unsignedLong" use="required" />
    <xs:attribute name="timestamp" type="xs:dateTime" use="optional" />
    <xs:attribute name="visible" type="xs:boolean" use="optional" />
    <xs:attribute name="user" type="xs:string" use="optional" />
    <xs:attribute name="lat" type="xs:float" use="required" />
    <xs:attribute name="lon" type="xs:float" use="required" />
  </xs:complexType>
  <xs:complexType name="T_way">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tag" type="T_tag" />
      <xs:element name="nd" type="T_nd" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tag" type="T_tag" />
      <xs:element name="nd" type="T_nd" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="nd" type="T_nd" />
        <xs:element name="tag" type="T_tag" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="id" type="xs:unsignedLong" use="required" />
    <xs:attribute name="user" type="xs:string" use="optional" />
    <xs:attribute name="timestamp" type="xs:dateTime" use="optional" />
    <xs:attribute name="visible" type="xs:boolean" use="optional" />
  </xs:complexType>
  <xs:complexType name="T_relation">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="member" type="T_member" />
      <xs:element name="tag" type="T_tag" />
    </xs:choice>
    <xs:attribute name="user" type="xs:string" use="optional" />
    <xs:attribute name="timestamp" type="xs:dateTime" use="optional" />
    <xs:attribute name="visible" type="xs:boolean" use="optional" />
    <xs:attribute name="id" type="xs:unsignedLong" use="required" />
  </xs:complexType>
  <xs:complexType name="T_bound">
    <xs:attribute name="origin" type="xs:string" use="required" />
    <xs:attribute name="box" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="T_nd">
    <xs:attribute name="ref" type="xs:unsignedLong" use="required" />
  </xs:complexType>
  <xs:complexType name="T_tag">
    <xs:attribute name="k" type="xs:string" use="required" />
    <xs:attribute name="v" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="T_member">
    <xs:attribute name="role" type="xs:string" use="optional" />
    <xs:attribute name="ref" type="xs:unsignedLong" use="required" />
    <xs:attribute name="type" type="T_type" use="required" />
  </xs:complexType>
  <xs:simpleType name="T_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="node" />
      <xs:enumeration value="way" />
      <xs:enumeration value="relation" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
